[2022-03-21 11:22] itsmdasifraza opened #37 "Contributor card showing wrong information"
my contributor card showing 1st year that is wrong

[2022-03-21 11:52] Rajdip019 commented on #37
Can you give a screenshot?

[2022-03-26 18:01] #37 closed

[2022-09-30 08:14] Rajdip019 opened #48 "Make your first Contribution"
Use the First Contribution template and raise an issue and make a PR attached to that.

See the [CONTRIBUTING.md](https://github.com/Clueless-Community/first-contribution/blob/main/CONTRIBUTING.md) for more detailed info on how to contribute.

Still stuck join our discord server and we are always available to help there : [Discord](https://discord.gg/zrVMjGW8sB)

[2022-09-30 08:24] RahulSankhla312 commented on #48
hey @Rajdip019 can you assign this issue to me ?

[2022-09-30 08:24] RahulSankhla312 commented on #48
@Rajdip019 I am new to open source .

[2022-09-30 08:26] Roshaen commented on #48
@RahulSankhla312 Anyone can contribute to this repo. Go on

[2022-09-30 08:34] Rajdip019 commented on #48
This is not an issue to be assigned. I would suggest you to visit the [CONTRIBUTING.md](https://github.com/Clueless-Community/first-contribution/blob/main/CONTRIBUTING.md)

And see what you need to do. And be careful if you want it to be count in hacktoberfest. You need to make the PULL Request after 1st October.

[2022-09-30 08:36] Rajdip019 opened #49 "Fix the contributor Card Component"
The card looks broken when we have a big college name. Here is reference of that.

<img width="1284" alt="Screenshot 2022-09-29 at 7 23 14 PM" src="https://user-images.githubusercontent.com/91758830/193228835-68aa3943-04c5-408d-a266-dacbfb5977aa.png">

Need to fix that issue ASAP.

[2022-09-30 08:41] Rajdip019 opened #50 "Add Video for more Info about what is Git and GitHub"
In the whattodo page of ([clueless.vercel.app](https://clueless.vercel.app/whattodo)) website wen need to add a section at the end, where (this video)[https://www.youtube.com/watch?v=apGV9Kg7ics&t=3s].

And the video should be playable from the website itself.

[2022-09-30 08:43] Rajdip019 opened #51 "Fix text in website"
### This should be contribute instead of donate.

<img width="1066" alt="Screenshot 2022-09-30 at 2 11 59 PM" src="https://user-images.githubusercontent.com/91758830/193230343-9712a11e-db5d-4f0b-9f3b-cb14ad2780a6.png">

[2022-09-30 09:23] Dun-sin commented on #49
Hi, can i work on this?

[2022-09-30 09:26] Rajdip019 commented on #49
Yes sure you can! I will be assigning you for this task tomorrow when hacktoberfest kicks off.

@Dun-sin

[2022-09-30 09:26] Dun-sin commented on #49
no problem

[2022-09-30 09:26] Dun-sin commented on #49
thanks

[2022-09-30 10:01] Noothan-am commented on #50
hey, @Rajdip019 I wanted to contribute to this repo so should I add a video section above footer?

[2022-09-30 10:05] Rajdip019 commented on #50
Go ahead. I will be assigning you to this issue after the Hacktoberfest kicks off tomorrow.

[2022-09-30 10:12] mushtaq96 commented on #49
Hi can I contribute to this, if the other person is unavailable due to any issues?

[2022-09-30 10:15] Rajdip019 commented on #49
Yes sure! if he is unable to do this you will be assigned next. @mushtaq96

[2022-09-30 10:39] RahulSankhla312 commented on #51
hey @Rajdip019  i would like to contribute to this issue .

[2022-09-30 10:41] Rajdip019 commented on #51
Sure. I will be assigning you after the hacktoberfest kicks off.

[2022-09-30 10:57] tmsagarofficial commented on #48
OK thanks for the info will definitely make a PR after October 1st.

[2022-09-30 12:51] Hussain6 commented on #51
hey @Rajdip019 can you assign this to me so I can contribute to this repo.

[2022-09-30 18:51] Roshaen opened #54 "Fix card text"
## Collage name in card is not aligned well

![cards](https://user-images.githubusercontent.com/58213083/193337244-c8e3b8bd-3d3e-4470-9cdf-6356ca6be902.png)

[2022-09-30 18:51] gokhalevedant06 commented on #54
Hi @Roshaen , I would like to work on this issue

[2022-09-30 18:53] salted0dreams commented on #54
Please assign me this issue.

[2022-09-30 19:26] titusjoyson commented on #54
@Roshaen raised a PR for this issue [https://github.com/Clueless-Community/first-contribution/pull/56](https://github.com/Clueless-Community/first-contribution/pull/56). Please assign this task to me

[2022-09-30 20:21] Rajdip019 commented on #49
This issue is resolved so closing this.

[2022-09-30 20:21] #49 closed

[2022-09-30 20:34] Dun-sin commented on #49
Seriously? Wow okay

[2022-10-01 02:24] Roshaen commented on #54
Congrats 🎉, your PR got merged. To be eligible for the swags from iNeuron X ClueLess. Follow this steps.

1. SignIn / SignUp in [ClueLess Website](https://www.clueless.tech/).
2. Go to profile section from the top right hand corner.

    ![https://s3.us-west-2.amazonaws.com/secure.notion-static.com/74339abf-adaf-4b25-8496-7642f08f7c03/Screenshot_2022-09-30_at_2.40.58_PM.png?X-Amz-Algorithm=AWS4-HM

[2022-10-01 02:24] #54 closed

[2022-10-01 02:26] Roshaen commented on #54
Hey! @salted0dreams this issue is now closed as it is fixed by @titusjoyson
Do check other issues of this repo or other repos to get assigned

[2022-10-01 04:02] Rajdip019 commented on #51
This issue is solved so closing this.

[2022-10-01 04:02] #51 closed

[2022-10-01 08:28] tmsagarofficial commented on #50
Pls let me know if I can also work on this .

[2022-10-01 12:15] Noothan-am commented on #50
yes

[2022-10-01 12:15] Noothan-am commented on #50
@Rajdip019 yes i am working on it

[2022-10-01 12:20] Rajdip019 commented on #50
Okay..

[2022-10-01 12:21] Noothan-am commented on #50
hey, @Rajdip019   I need to clear some dought about this could you help me?

[2022-10-01 17:40] Rajdip019 commented on #50
Yes sure. head-over to [Discord](https://discord.gg/zrVMjGW8sB) and ask your doubt.

[2022-10-01 17:51] Kumar-Ankit56 commented on #48
@Rajdip019  plz assign me I also want to contribute in your repo to get my contribute card

[2022-10-01 18:18] tmsagarofficial commented on #48
Pls assign this to me also so that I can complete my first pr from ur repo .😅

[2022-10-01 18:20] Rajdip019 commented on #48
Hey you don't need to get assigned for this just raise an PR with your data and that will be fine.

[2022-10-01 18:20] Rajdip019 commented on #48
Hey you don't need to get assigned for this just raise an PR with your data and that will be fine.

[2022-10-01 18:21] tmsagarofficial commented on #50
Is this issue still open ??

Can i also contribute?

[2022-10-01 18:23] Rajdip019 commented on #50
Yes, it's open but @Noothan-am is working on it. If he fails to do this you can surely work on this. Till the you can find bugs and new things we can add in this [website](https://clueless.vercel.app/).

And raise your own issue and work on that. @tmsagarofficial

[2022-10-01 18:41] minhaj-313 commented on #48
Hi I want to contribute on your Project Could you Please Assign My PR for Hacktoberfest

[2022-10-01 18:47] Noothan-am commented on #50
sorry @Rajdip019 you can assign it to someone else I am new to open source so I am not getting exactly how to do it

[2022-10-01 19:49] Rajdip019 opened #104 "Give new headers to the website"
Currently the header looks like this. ⬇️

<img width="256" alt="Screenshot 2022-10-02 at 1 12 17 AM" src="https://user-images.githubusercontent.com/91758830/193425805-5c8d734c-4b2a-4803-b9d7-07ff6eac7131.png">

But we need to update the Vercel logo to ClueLess logo and the `ClueLess` name to `ClueLess - First Contribution`.

Here is a link to the ClueLess official logo. [ClueLess Logo](https://www

[2022-10-01 19:52] dishant-yadav commented on #104
@Rajdip019 I would like to work on this issue. Can you please assign me this issue?

[2022-10-01 19:53] Rajdip019 commented on #104
Sure go ahead. @dishant-yadav

[2022-10-01 19:55] dishant-yadav commented on #104
Thanks @Rajdip019 for assigning me this issue

[2022-10-01 20:15] dishant-yadav commented on #104
Should I be using .ico file for favicon? @Rajdip019

[2022-10-01 20:36] dishant-yadav commented on #104
@Rajdip019
I have raised the pr please review it and let me know if there are any changes to be made.
[PR Link](https://github.com/Clueless-Community/first-contribution/pull/105)

[2022-10-01 22:29] VividhPandey003 opened #107 "Fix: Website link needs to be updated"
The Website link shared in the Readme File on clicking redirects to a github pages link.
<img width="645" alt="image" src="https://user-images.githubusercontent.com/91251535/193430664-38913c5c-5a8e-4285-a957-f45b47b69748.png">

However, since the website is deployed in vercel with the link [CluelessVercel]([clueless.vercel.app/](https://clueless.vercel.app/)) the readme file needs to be updated.

[2022-10-01 22:32] VividhPandey003 commented on #107
On checking the Readme File I discovered that no link is provided in the Readme File.
<img width="412" alt="image" src="https://user-images.githubusercontent.com/91251535/193430685-b2fe153f-bae4-42a4-a740-f7b32148fae3.png">

Although this is a small Readme Fix, I would love to work on it.

[2022-10-02 05:11] AKACHI-4 commented on #50
Hey @Rajdip019  I am able to solve this issue Kindly assign it to me so I can make expected changes

[2022-10-02 05:23] AKACHI-4 opened #111 "Make Contributions.md!!"
Hey, I would like to recommend adding contributors.md file so the name of contributors will be visible on the main repo.

### Screenshots

![pr4](https://user-images.githubusercontent.com/99159580/193439266-0868f6a6-21e8-48bc-81e0-97d3de6ce876.PNG)

[2022-10-02 05:25] Abdirizaks12 commented on #111
assign me please

[2022-10-02 05:26] AKACHI-4 commented on #111
I am already working on it and soon I will generate PR for same

[2022-10-02 05:50] Rajdip019 commented on #111
Hey @AKACHI-4. This is really good idea can you do the same with the profile pictures that will be amazing.

[2022-10-02 05:51] Rajdip019 commented on #107
Sure, @VividhPandey003 go ahead. Assigning you this issue.

[2022-10-02 06:00] AKACHI-4 commented on #111
Okay @Rajdip019 why not

[2022-10-02 07:12] tushar54594 opened #120 "Linkedin link is not present for Nikhil"
In the our team section of the website, the Linkedin link is not present for @nikhil25803.

Screenshot:
![Screenshot (590)](https://user-images.githubusercontent.com/94536522/193442503-30d5fc17-2ca5-4f4a-9c14-2a29a6c0a695.png)

[2022-10-02 07:28] abhilipsasahoo03 opened #122 "docs: add link to all Clueless-Community hacktoberfest issues in README file"
# Description

I think we can add to README a link to all the hacktoberfest labelled issues of Clueless-Community owned repositories so that new contributors can easily track them.

[2022-10-02 07:33] abhilipsasahoo03 commented on #122
What do you think? @Rajdip019

[2022-10-02 07:44] Rajdip019 commented on #122
Yes I think we can do that. But that will be a bit hard to maintain. What is your opinion ? @abhilipsasahoo03

[2022-10-02 07:46] Rajdip019 commented on #120
Hey, nice point.

What you can do is change his profile details.

Change the image to this.
![bc40fafa-37c2-46e1-9c38-8e4c036966d0](https://user-images.githubusercontent.com/91758830/193443649-6307cf46-eb66-4db7-a704-032ce9bb6804.jpg)

Description to this : Into Machine Learning | Backend Development | Python | Django | Open Source🚀 |
And LinkedIn Profile URL add that this : https://www.linkedin.c

[2022-10-02 07:46] abhilipsasahoo03 commented on #122
I don't think that will be. I will just add a GitHub search link and slight modifications to the README. Through the link, the contributors can go through the filtered issues or modify their search accordingly.

[2022-10-02 07:48] Rajdip019 commented on #50
Hey @AKACHI-4 @itsmeAnubhab has already done it and made the PR so merging his PR.

[2022-10-02 07:48] Rajdip019 commented on #50
This issue is closed as it is solved.

[2022-10-02 07:48] #50 closed

[2022-10-02 08:02] Rajdip019 commented on #122
That will be awesome go ahead! @abhilipsasahoo03

[2022-10-02 08:03] Rajdip019 commented on #48
Yeas go ahead and make PR! @minhaj-313

[2022-10-02 08:06] Rajdip019 opened #123 "Repeated Data"
Some of the contributor data is repeated ( 2- 4 times) due to some bad PR merge.

Here is picture of that. ⬇️
<img width="1266" alt="Screenshot 2022-10-02 at 1 31 14 PM" src="https://user-images.githubusercontent.com/91758830/193444352-0c943166-1488-4ea9-a67a-fd0c45155dbc.png">

One need to change the `data/contributors.js` file and remove all the duplicate contributor data. But be very careful no

[2022-10-02 08:06] minhaj-313 commented on #48
OK Thank. Can Suggest to me Something What Can I do?

[2022-10-02 08:10] Yash-Parwani commented on #123
hey @Rajdip019 can i look into this?

[2022-10-02 08:12] Rajdip019 opened #124 "Video Issue in darkmode"
In the dark mode there is an issue in the darkmode.

Here is a reference to that. ⬇️

<img width="1082" alt="Screenshot 2022-10-02 at 1 40 39 PM" src="https://user-images.githubusercontent.com/91758830/193444597-c81a0f9f-6fa6-491b-815e-8e9eb8155c3c.png">

[2022-10-02 08:12] Ahnaf-codes commented on #123
can i work on this

[2022-10-02 08:13] Rajdip019 commented on #48
See other Issues. @minhaj-313

[2022-10-02 08:14] Rajdip019 commented on #123
Hey, @Yash-Parwani go ahead. And sorry @Ahnaf-codes we have first come first serve policy. Please see other issues.

[2022-10-02 08:14] Yash-Parwani commented on #123
ok thanks @Rajdip019

[2022-10-02 08:14] Rajdip019 commented on #104
Closing this as it is done.

[2022-10-02 08:14] #104 closed

[2022-10-02 08:14] Rajdip019 commented on #107
Closing this as this is done.

[2022-10-02 08:14] #107 closed

[2022-10-02 08:15] VividhPandey003 commented on #107
Hey @Rajdip019 I don't know how. I guess there has been a recent push but the issue is already fixed.😂
<img width="524" alt="image" src="https://user-images.githubusercontent.com/91251535/193444693-02e53b57-cc93-4678-b9f4-3ad5a3d409e4.png">

So I guess you should close this issue.

[2022-10-02 08:23] minhaj-313 commented on #48
I did it Please Merge my PR and please give label as Accepted hactoberfest.
Thank You, and Love to this project

[2022-10-02 08:25] #122 closed

[2022-10-02 08:26] Ahnaf-codes commented on #124
I can do this. assign me @Rajdip019

[2022-10-02 08:28] Rajdip019 commented on #124
Sure go ahead. @Ahnaf-codes

[2022-10-02 08:58] guha-rahul commented on #48
Hey @Rajdip019  i updated my details. This will be included in the hacktoberfest right?

[2022-10-02 09:00] Rajdip019 commented on #48
Yes it will be @guha-rahul

[2022-10-02 09:26] Rajdip019 commented on #123
This issue is solved thanks to @Yash-Parwani , so closing this issue.

[2022-10-02 09:26] #123 closed

[2022-10-02 09:45] Yash-Parwani opened #136 "Using Image Component provided by Next JS"
Instead of using <img> html tag in contributors.js and discordhome.js, shouldnt we use <Image /> component that next js provides readily in next/image
And by using the <Image /> component helps in optimization thereby bringing down the loading time
For eg , currently while using <img> tag of HTML , the loading time of the images in contributors.js is as follows
![image](https://user-images.githubu

[2022-10-02 09:47] ramdhanihendrie commented on #136
please assign it to me

[2022-10-02 16:22] tushar54594 commented on #120
Closing this issue as this is completed

[2022-10-02 16:22] #120 closed

[2022-10-02 17:02] ASANIYAN commented on #136
Hello, I would love to work on this issue

[2022-10-02 18:04] prakhar-1005 opened #156 "Spacing between the LinkedIn and the GitHub icons"
In the Our team section of the website, the spacing between the LinkedIn and GitHub icon is not proper for @nikhil25803.

Screenshot:
![Screenshot (1)_LI](https://user-images.githubusercontent.com/94559623/193468858-00d2bdb8-ee53-4d70-a18f-1523340382a9.jpg)

[2022-10-02 18:05] aniket2003 commented on #156
@prakhar-1005 can you please assign me with this issue , I would like to solve it .

[2022-10-02 18:23] harsitagarwalla187 commented on #156
Can you assign it to me?

[2022-10-02 18:32] #124 closed

[2022-10-02 18:42] Rajdip019 commented on #156
Ge ahead and solve this @prakhar-1005 .

[2022-10-02 18:43] Rajdip019 commented on #136
This issue is now solved I guess. Can any one confirm?

[2022-10-02 18:43] Rajdip019 commented on #111
Closing this as it is already solved.

[2022-10-02 18:43] #111 closed

[2022-10-02 18:45] codeswithroh opened #159 "Error in contributor.js file"
### This is Rohit Purkait. And I will be adding my data to do my first contribution as well as get a card on the website.
Array duplicated due to merge issue on contributors.js file in line 869.

[2022-10-02 18:48] Rajdip019 opened #160 "Remove repeated data"
The contributor data is again repeated. Need help removing the duplicate data.

And need some suggestions also so this doesn't happens over and over again.

[2022-10-02 18:59] Rajdip019 commented on #160
Good job @codeswithroh . Closing this PR as the issue is resolved.

[2022-10-02 18:59] #160 closed

[2022-10-02 19:00] Rajdip019 commented on #159
Closing this as this issue is resolved. @codeswithroh

[2022-10-02 19:00] #159 closed

[2022-10-02 19:03] AKACHI-4 opened #164 "Add Contributor's Profile Images !!"
**Update**
1. Contributor's profile image will appear at the bottom of README.md
2. CONTRIBUTING.MD will be modified to aware newcomers about contribution.

[2022-10-02 19:06] Rajdip019 commented on #164
Yes, let's work on this now! @AKACHI-4

[2022-10-02 19:08] codeswithroh commented on #164
@AKACHI-4 Should the images be added on a new folder or should it be given from a link ?

[2022-10-02 19:14] codeswithroh commented on #136
It's still there

[2022-10-02 19:20] AKACHI-4 commented on #164
It should be in the README.md

[2022-10-02 19:25] AKACHI-4 commented on #164
#167 PR generated and #164 issue solved as I am working on it under the last issue but it gets closed so I generated it here merge PR so changes will get visible for everyone

Thanks, @Rajdip019

[2022-10-02 19:28] Rajdip019 commented on #164
Yup that's better. And more clear.

[2022-10-02 19:35] AKACHI-4 commented on #164
Yep 😄👍

[2022-10-02 19:41] akshay-Kalekar opened #169 "Fix Dark Mode"
Fixes required in dark mode
1) Add Dark Mode to Discord Component
2) Change color of LinkedIn and Github Icon in profile section in dark mode to make in more visible

Issue
![image](https://user-images.githubusercontent.com/50509605/193473109-fa2d512f-5503-43df-884f-876fd9548941.png)

[2022-10-02 20:22] yes-im-harsh commented on #169
Please assign it to me, I would love to work on this.

[2022-10-02 20:55] mehraankush commented on #169
do i have to make the background dark or   a kind of button that switches between dark and light modes

[2022-10-02 21:27] yes-im-harsh commented on #169
@akshay-Kalekar Check PR, Fixed Dark Mode #171

[2022-10-02 21:57] SahilSingh177 commented on #169
Please assign this to me.

[2022-10-03 02:34] Yash-Parwani commented on #136
@Rajdip019  its still there

[2022-10-03 03:12] akshay-Kalekar commented on #169
@yes-im-harsh @SahilSingh177 @mehraankush  ,I can't assign this issue to anyone.as I am also one of the contributor .
I created this issue as, if the author feel like this change is required in dark mode and if approved can assign it to me.

[2022-10-03 07:51] AbhishekTiwari23 opened #184 "Adding Socials at the footer of each page"
I want to add community socials with a hover effect at the footer of each page. If you find it relevant, then I request you to please assign it to me.
<img width="1440" alt="Screenshot 2022-10-02 at 8 03 47 PM" src="https://user-images.githubusercontent.com/97469132/193526631-d2cc10d5-626a-4a7d-809a-a0f76d8f758e.png">

something like this

[2022-10-03 07:58] ujinikalyan commented on #184
Hey, I would like to work on this issue could you assign me this?

[2022-10-03 07:58] ujinikalyan commented on #184
@AbhishekTiwari23

[2022-10-03 08:13] ZahraShahid commented on #184
Can I work on this issue? @AbhishekTiwari23

[2022-10-03 08:23] codeswithroh commented on #156
@Rajdip019 This is already fixed. Kindly close this issue

[2022-10-03 08:24] codeswithroh commented on #164
@AKACHI-4 I couldn't find the place to add the contributors image in the Readme.md file

[2022-10-03 08:25] #156 closed

[2022-10-03 08:41] AKACHI-4 commented on #164
Hey @codeswithroh actually I have already generated a PR regarding this .....checkout their you will get some idea about it.

[2022-10-03 09:46] SahilSingh177 opened #187 "Filtering Contributors on the basis of their Tech Stack that will be taken from the contributors data."
I wanted to add a parameter in the contributors.js i.e., tech stack, and in the Contributors' section, there will be a filter option to filter contributors based on their Tech Stack.

If you find it interesting, please assign it to me.

[2022-10-03 13:52] yes-im-harsh commented on #169
@Rajdip019 I think this has been resolved. PR merged #171
Now we can close this issue

[2022-10-03 13:59] #169 closed

[2022-10-03 20:32] Rajdip019 commented on #187
Indeed it's a good idea but we will get the Techstack of the other contributors who already contributed. @SahilSingh177

[2022-10-03 20:34] Rajdip019 commented on #136
Can any one mark the `img` tags where you want to use the `Image` tag in the code and send here some screenshots?

Will be assigning this issue to him.

[2022-10-03 20:35] Rajdip019 commented on #184
Hey, @AbhishekTiwari23 work on this. 🚀

[2022-10-03 20:43] Rajdip019 opened #209 "New page on GitHub basic commands."
One should make the page for github basic commands for both dark and light mode.

The page route will be `whattodo/basic-github-commands`.

And the data it will contain is [this](https://github.com/Clueless-Community/first-contribution/blob/main/KnowGitMore.md).

You need to built it using tailwind CSS and maintain the existing design system.

[2022-10-03 20:48] Rajdip019 opened #211 "Make Dark mode default for the website."
We need to make the dark mode default for the website. For now it's light mode that pops up in the first time or when reloaded.

Also when page refresh the mode should not switch.

Here is the website link : [First Contribution Website](https://clueless.vercel.app/)

[2022-10-03 20:51] Eyesnatcher-coder commented on #211
Hello @Rajdip019 I would like to work on the issue, could you please assign it to me ?

[2022-10-03 20:52] Rajdip019 commented on #211
Sure go ahead. @Eyesnatcher-coder

[2022-10-03 20:59] Rajdip019 opened #212 "Add Main Website Link to Navbar"
After what to do you need to add `Visit main website` in the Navbar and it will be a `anchor` tag with a `target="_blank"`

<img width="1440" alt="Screenshot 2022-10-04 at 2 26 39 AM" src="https://user-images.githubusercontent.com/91758830/193681112-30d17767-f8c8-469e-9e51-2e2f8f8881bd.png">

And also remove the link to Home from Navbar.

[2022-10-03 21:02] Rajdip019 opened #213 "Change ClueLess Logo"
Now the looks like this. ⬇️
<img width="186" alt="Screenshot 2022-10-04 at 2 26 47 AM" src="https://user-images.githubusercontent.com/91758830/193681542-d74f732c-9120-48f3-829a-62a0e671ed7e.png">

But we need to change the terminal logo to the main logo of clueless.

Here is the LOGO we want.
![ClueLess Logo](https://user-images.githubusercontent.com/91758830/193681715-ffbcce96-af38-4f55-9f4e-8a79

[2022-10-03 21:05] pratham4434 commented on #212
assign this to me, I'll do it

[2022-10-03 21:06] STM3900 commented on #213
Hello, i can work on this! Can you asign me ?

[2022-10-03 21:14] Rajdip019 commented on #213
Go ahead! @STM3900

[2022-10-03 21:15] STM3900 commented on #213
Thanks! Just to be sure, you want me to replace the logo from the navbar to this one?

[2022-10-03 21:22] codeswithroh commented on #136
- In whattodo (dir), index.js (file)
![1](https://user-images.githubusercontent.com/77570394/193684842-8b3ca2a8-2973-4d13-b81e-4cbed3bdecc6.png)

- In DiscordHome.js file
![2](https://user-images.githubusercontent.com/77570394/193685108-484729b2-2b6f-4250-97ff-1a1d66eff5b2.png)

[2022-10-03 22:04] AbhishekTiwari23 commented on #184
Thanks for assigning me. I will respond as soon as possible.

[2022-10-03 23:21] pratham4434 commented on #209
I'll do it, assign it to me!

[2022-10-04 00:45] #164 closed

[2022-10-04 04:28] Rajdip019 commented on #213
From footer also. @STM3900

[2022-10-04 04:29] Rajdip019 commented on #136
Go ahead @codeswithroh . Fix them and make sure. This time it's all covered and responsive as well.

[2022-10-04 04:30] Rajdip019 commented on #209
Sure @pratham4434

[2022-10-04 04:37] Rajdip019 commented on #212
@pratham4434 make sure to add `https://www.clueless.tech/` link to the visit main website button. Now it's pointing to `clueless.vercel.app` website.

[2022-10-04 04:40] Rajdip019 opened #219 "Need a banner to the GitHub basic commands page."
We need a banner like this for both dark mode and light mode. You can re-use the code of this banner as well.

<img width="1261" alt="Screenshot 2022-10-04 at 10 08 24 AM" src="https://user-images.githubusercontent.com/91758830/193735639-3f0df37d-8007-44be-ba30-77d306904e03.png">

The button should point to `/whattodo/basic-github-commands` and it should be a `<Link>` tag.

The text on the left wi

[2022-10-04 04:44] Siddharth9890 commented on #209
I can help you for this

[2022-10-04 04:47] Rajdip019 commented on #209
Make the path form ../../components/gitCom to ../../components/GitCom .

The reason is not type sensitive about casing but while deployment it gets deploys in a linux machine which is type sensitive so it will not be able to find the file in the path and deployment will fail.

make these changes and make a new PR. @pratham4434

[2022-10-04 04:55] Siddharth9890 commented on #219
I can take this task

[2022-10-04 06:06] Eyesnatcher-coder commented on #211
Completed the issue, made default theme as dark, loved contributing to you 💯 .

[2022-10-04 06:55] Siddharth9890 commented on #219
Where should i place this banner below the existing one or in a new page?

[2022-10-04 08:07] RidhamRj opened #223 "Ridham Singhal- added transitional underline to items in nav and footer"
### This is Ridham Singhal. And I will be adding my data to do my first contribution as well as get a card on the website.
preview-

(https://user-images.githubusercontent.com/86556438/193767592-0519028b-99e0-4bc8-ad1c-0b76e8d2b11a.webm)

[2022-10-04 08:09] RidhamRj commented on #223
@Rajdip019 pls look to this

[2022-10-04 08:09] RidhamRj commented on #223
also i am a high schooler so how do i fill contributor.js

[2022-10-04 08:50] pandeyom331 commented on #223
resolving the issues

[2022-10-04 12:50] RidhamRj commented on #223
@pandeyom331 any updates related to this?

[2022-10-04 12:50] RidhamRj commented on #223
kindly assign as well

[2022-10-04 14:58] SahilSingh177 commented on #187
Sure! Also please let me know if the Techstack of contributors are added.

[2022-10-04 15:01] Rajdip019 commented on #223
This looks cool work on this ! @RidhamRj

[2022-10-04 15:24] RidhamRj commented on #223
wht abt this @Rajdip019

[2022-10-04 17:13] RidhamRj opened #235 "Changed button ui"
### This is Ridham Singhal And I will be adding my data to do my first contribution as well as get a card on the website.

(https://user-images.githubusercontent.com/86556438/193883543-e2370ca5-9e5c-48a4-8a33-de584ec553c8.webm)

will like to add this button feature

[2022-10-04 17:15] RidhamRj commented on #235
@Rajdip019 @nikhil25803
pls review if this button ui would look good on the web

[2022-10-04 17:15] RidhamRj commented on #235
will be making for light mode as well

[2022-10-04 17:30] RidhamRj commented on #235
@Debajyoti14

[2022-10-04 17:42] Gulshan-11 commented on #235
hey @RidhamRj please assign this to me i can work on this

[2022-10-04 17:47] RidhamRj commented on #235
i already did this and i am a contributor not maintainer

[2022-10-04 17:50] #213 closed

[2022-10-04 17:55] Rajdip019 commented on #235
The button animation looks a bit too much I guess, if you want to add some animations or transition please go with some simple ones. @RidhamRj

[2022-10-04 18:01] RidhamRj commented on #235
@Rajdip019 i will see to it

[2022-10-04 18:01] #223 closed

[2022-10-04 18:13] Gulshan-11 commented on #235
hey @Rajdip019 can you also assign this to me.

[2022-10-04 18:44] RidhamRj opened #237 "frequently asked question section on homepage"
### This is Ridham Singhal. And I will be adding my data to do my first contribution as well as get a card on the website.

like to add faq section to homepage

[2022-10-04 18:44] RidhamRj commented on #235
@Rajdip019

hmm it would be great contributing together

[2022-10-04 19:01] Rajdip019 commented on #237
Do we really need this? @Debajyoti14 , @nikhil25803 , @Roshaen ?

[2022-10-04 19:06] Debajyoti14 commented on #237
@RidhamRj Suggest some of the questions you think will be useful to visitors

[2022-10-04 19:23] Rajdip019 commented on #235
Sure. Go ahead. @Gulshan-11 @RidhamRj

[2022-10-04 19:25] Rajdip019 commented on #219
Place it above the video section at the bottom in the what to do page. @Siddharth9890

[2022-10-04 19:28] Rajdip019 opened #239 "Fix gaps in GitHub commands page ( Darkmode )"
There are some gaps in the dark mode of the website page [This page](https://clueless.vercel.app/whattodo/basic-github-commands) .

Here is also a reference to that. ⬇️
![Uploading Screenshot 2022-10-05 at 12.56.10 AM.png…]()

[2022-10-04 19:29] saimaheshtaduri commented on #239
I can contribute. assign to me @Rajdip019

[2022-10-04 19:29] Rajdip019 opened #240 "Change the title of the GitHub Commands page"
Now the page title looks like this.

<img width="207" alt="Screenshot 2022-10-05 at 12 58 45 AM" src="https://user-images.githubusercontent.com/91758830/193908679-18aadbd4-e59b-44f1-9a0d-006abe1c2a45.png">

We need to change it to `GitHub commands` .

[2022-10-04 19:30] Rajdip019 commented on #239
Sure @saimaheshtaduri

[2022-10-04 19:31] Rajdip019 commented on #187
What do you guys think @Debajyoti14 , @nikhil25803 , @Roshaen ?

[2022-10-04 19:34] saimaheshtaduri commented on #240
I can contribute @Rajdip019

[2022-10-04 19:40] Debajyoti14 commented on #187
This feature sounds so useful.
But how will we populate the tech stack who have added data already?

[2022-10-04 19:56] Rajdip019 commented on #240
You are already to assigned to one!

[2022-10-04 20:01] saimaheshtaduri commented on #240
@Rajdip019 I raised a PR to it. please review it #241

[2022-10-04 20:12] Rajdip019 commented on #240
Yup that is merged now. You can work on this! @saimaheshtaduri

[2022-10-04 20:25] saimaheshtaduri commented on #240
U meant the title of the page right ? or the url ? @Rajdip019

[2022-10-04 20:27] Eyesnatcher-coder commented on #211
Hello @Rajdip019 , Just a gentle reminder that I have completed the task please, mark as hactoberfest-accepted, I would greatly appreciated for the same.
Thanks :)

[2022-10-04 20:30] Rajdip019 commented on #240
The title on the tab section of the browser. @saimaheshtaduri

[2022-10-04 20:34] saimaheshtaduri commented on #240
ok, done raised the pr #242

[2022-10-04 20:36] Rajdip019 commented on #211
Your PR is not merged yet. Please view the comments in the PR. @Eyesnatcher-coder

[2022-10-04 20:45] #240 closed

[2022-10-04 20:50] saimaheshtaduri opened #243 "Adding a search bar in all contributors page"
Every newbie open source contributor, wants to see their name as a contributor. As there are many contributors right now, finding their name in that list is difficult. Thus a search bar might be a good use.

[2022-10-04 20:51] Rajdip019 opened #244 "Change the Link to valid one."
Currently the Visit Main website doesn't take user any where.

<img width="1325" alt="Screenshot 2022-10-05 at 2 19 11 AM" src="https://user-images.githubusercontent.com/91758830/193925172-be351628-4409-4242-abd8-9703738e2b80.png">

We need to redirect users to the `https://www.clueless.tech/` website.

So it will be an `anchor` tag with `target="_blank"` with it.

[2022-10-04 20:51] SahilSingh177 commented on #187
We can update CONTRIBUTING.md and ask the contributors to add their Tech Stack in contributors.js . For those who have already added the data, we can add a comment in the issue "first contribution" so that everyone gets a mail regarding the addition of their Tech Stack and they'll just have to do one more commit that will update their data.

[2022-10-04 20:52] saimaheshtaduri opened #245 "Having a FAB in the website"
In pages like contributors, which are so lengthy, it is better to have a Floating Action Button, on click takes user to the top of the page.

[2022-10-04 20:52] Rajdip019 commented on #243
Can you elaborate a bit how you are thinking to implement the search bar? @saimaheshtaduri

[2022-10-04 20:53] Rajdip019 commented on #245
Sure this will be a good thing to implement. First start work on this then we will be moving towards the search feature. @saimaheshtaduri

[2022-10-04 20:55] saimaheshtaduri commented on #243
Like, to filter out the cards based on the search.

[2022-10-04 20:56] Rajdip019 commented on #243
Yeah I got that. I am talking about the implementation part. How you are planning to implement it? @saimaheshtaduri

[2022-10-04 20:56] saimaheshtaduri commented on #245
ok, thanks @Rajdip019

[2022-10-04 20:58] saimaheshtaduri commented on #243
I see at present, a `map` method is used, I will replace it with the `filter` method and display only those names that are the substrings of the searched text.

[2022-10-04 21:00] Rajdip019 commented on #243
Yup got it. You can work on this issue once you complete the FAB button where I have assigned you!

Is that ok for you? @saimaheshtaduri

[2022-10-04 21:01] saimaheshtaduri commented on #244
I can fix this. assign to me @Rajdip019

[2022-10-04 21:02] saimaheshtaduri commented on #243
Can I instantly, change the link of the main website ? @Rajdip019

[2022-10-04 21:02] Rajdip019 commented on #244
You are already assigned to one issue. @saimaheshtaduri

[2022-10-04 21:04] Pervolarakis commented on #244
can i work on this one?

[2022-10-04 21:04] saimaheshtaduri commented on #244
As the issue is a small one, can I resolve this first and jump to FAB ? @Rajdip019

[2022-10-04 21:04] Rajdip019 commented on #243
Yes sure. @saimaheshtaduri

[2022-10-04 21:07] Rajdip019 commented on #244
No need of that @saimaheshtaduri . We want everyone to be able to contribute in a big or small issue.

[2022-10-04 21:08] Rajdip019 commented on #244
Yes work on it. @Pervolarakis

[2022-10-04 21:17] Rajdip019 commented on #136
This issue is solved I guess @codeswithroh ..

[2022-10-04 21:18] Rajdip019 commented on #209
This issue is done. So, closing this PR.

[2022-10-04 21:18] #209 closed

[2022-10-05 03:11] RidhamRj commented on #237
Tht is why I am thinking on the second thought
Like what questions can I add

[2022-10-05 04:45] #244 closed

[2022-10-05 04:45] #48 closed

[2022-10-05 04:58] varunKT001 opened #253 "Correct the link to the main website."
### This is Varun Kumar Tiwari. And I will be correcting the link to the main website.

[2022-10-05 05:00] varunKT001 commented on #253
@Rajdip019 Can I work on this issue?

[2022-10-05 05:01] Rajdip019 opened #254 "Scroll down button not visible."
The scroll down button is not visible for both Dark mode and light mode. Here is a reference to that.

<img width="862" alt="Screenshot 2022-10-05 at 10 28 59 AM" src="https://user-images.githubusercontent.com/91758830/193984737-75b937bb-4835-4387-b01d-b47a31b38baa.png">

Also the gap between the main test and button section to the scroll down section should be less. So we need to also reduce  tha

[2022-10-05 05:03] Rajdip019 commented on #253
This issue is already fixed you can check now. But thanks for showing interest. @varunKT001

[2022-10-05 05:03] #253 closed

[2022-10-05 05:06] SainathPoojary commented on #254
Hey @Rajdip019, I want to work on this. Please assign it to me.

[2022-10-05 05:06] varunKT001 commented on #254
@Rajdip019 Can I work on this?

[2022-10-05 05:07] Rajdip019 commented on #254
Sure. @SainathPoojary work on this. And sorry @varunKT001 . We have first come first serve policy.

[2022-10-05 05:08] varunKT001 commented on #254
@Rajdip019 No issues 😄

[2022-10-05 05:26] SainathPoojary commented on #254
@varunKT001, Do we have to add a name into the contributors.js, After creating a branch or before? If before, then we have to commit the changes and then switch to a new branch. right?

[2022-10-05 05:29] SainathPoojary commented on #254
@varunKT001 Got it 👍️

[2022-10-05 05:32] Rajdip019 commented on #254
Thanks @varunKT001 for your help.

[2022-10-05 06:17] Siddharth9890 commented on #219
![image](https://user-images.githubusercontent.com/63333707/193993768-30d35594-4548-49fa-9e1e-1f8d0ea903c6.png)
This will be fine i guess?

[2022-10-05 06:25] Siddharth9890 commented on #243
If no one is doing this one i can try using filter once #219 is done

[2022-10-05 06:27] saimaheshtaduri commented on #243
I'm on it @Siddharth9890 😊

[2022-10-05 06:34] Siddharth9890 commented on #243
ok no problem @saimaheshtaduri

[2022-10-05 06:48] codeswithroh opened #258 "Add a toggling navbar for smaller screens"
Currently the navbar remains open for smaller screens. Instead of that a toggling navbar would look good.
<img width="294" alt="nav" src="https://user-images.githubusercontent.com/77570394/193998034-c73012a1-177e-41c0-943c-bf8bc64a81d6.PNG">

[2022-10-05 06:53] codeswithroh opened #259 "Font hierarchy needs to be changed"
In the homepage there are two h1 tags currents. With the upper h1 tag having the text "Welecome to clueless community" bigger size than the second h1 tag having the text "Learn.Grow".

Issue: The seo is affected by having two h1 tags. Also the ui doesn't look good with second line having bigger size than the first

Solution: Change the second h1 tag to h2.

[2022-10-05 06:55] codeswithroh commented on #259
@Rajdip019 Assign this to me

[2022-10-05 06:55] codeswithroh commented on #258
@Rajdip019 assign this to me

[2022-10-05 06:56] SubxX opened #260 "Make the header sticky & Add a scroll to top button on right bottom side"
Hello guys this is my first issue on GitHub,  I would like to make the main header sticky for better access on scrollable pages & also add a scroll to the top button for better UX.

[2022-10-05 06:59] Utkarsh212 commented on #260
Please assign this to me, so that I can work on it

[2022-10-05 06:59] SubxX commented on #260
I want to work on this @Utkarsh212

[2022-10-05 07:09] Rajdip019 commented on #259
This is such a small issue. If you are able to solve this for each page then it will be fine as an issue. @codeswithroh

[2022-10-05 07:10] Rajdip019 commented on #260
Hey you can make the header sticky. The scroll to top button is in building process. @SubxX

[2022-10-05 07:10] Rajdip019 commented on #258
Sure work on this issue. This will look cool. @codeswithroh

[2022-10-05 07:12] Nktech-Official opened #261 "Presistence Mode Change"
As i have discovered the change in Color Mode (dark and light) is not presistence. If mode is changed from dark to light it does not presist and change back to default (dark ) on reload or on navigation. I would Like to work on this issue Please assign me under hacktoberfest issues

[2022-10-05 07:12] Rajdip019 commented on #219
If you are done with the banner can you please link the PR here? @Siddharth9890

[2022-10-05 07:14] Rajdip019 commented on #211
This issue is resolved I guess. So closing this issue

[2022-10-05 07:14] #211 closed

[2022-10-05 07:14] SubxX commented on #260
Got it

[2022-10-05 07:14] Rajdip019 commented on #261
Sure this is a burning issue I guess. Happy to know you want to work on this. Go ahead. @Nktech-Official

[2022-10-05 07:39] aaushitiwari commented on #260
can you assign this to me?

[2022-10-05 07:40] Rajdip019 commented on #260
@SubxX is already working on this!

[2022-10-05 07:42] #254 closed

[2022-10-05 07:51] Siddharth9890 commented on #219
Done

[2022-10-05 09:17] devilkiller-ag commented on #212
Hi @Rajdip019 Can you assign this issue to me also?

[2022-10-05 09:19] devilkiller-ag commented on #245
Hey @Rajdip019 can you assign this work to me also?

[2022-10-05 09:29] devilkiller-ag opened #271 "Fix Double Underline when hovering over Discord"
There is a double underline animation when hovering over the discord link in the footer while other links have only single underline animation. I want to fix this @Rajdip019
![Screenshot (92)](https://user-images.githubusercontent.com/43639341/194028729-ec5868ae-63d2-4a16-b85f-a92da74e1173.png)

[2022-10-05 09:29] devilkiller-ag commented on #271
![Screenshot (92)](https://user-images.githubusercontent.com/43639341/194028520-443ff0d3-ba49-4ba6-9b95-8eb69a845301.png)

[2022-10-05 09:34] devilkiller-ag opened #272 "Fix Scroll Down FAB Button"
The floating scroll-down button is not working. Can I rectify it?
![Screenshot (93)](https://user-images.githubusercontent.com/43639341/194029400-9e23fa63-1361-40f9-801a-af965d7cddca.png)

[2022-10-05 09:59] RidhamRj commented on #237
@Rajdip019 @Debajyoti14 let me know the questions to be added

[2022-10-05 10:04] racky7 commented on #272
@devilkiller-ag I want to work on this. Please assign it to me.

[2022-10-05 10:07] devilkiller-ag commented on #272
@Rajdip019 is the maintainer. He has rights to assign issues. I am asking to work on this.

[2022-10-05 10:59] kala2 commented on #271
Hi can i take this one? can you assign to me please?

[2022-10-05 14:06] Rajdip019 commented on #272
Yes go ahead @devilkiller-ag

[2022-10-05 14:08] Rajdip019 commented on #271
Hey @devilkiller-ag I have already assigned you an issue. So is there any problem I give this issue to @kala2 ?

[2022-10-05 14:08] Rajdip019 commented on #245
@saimaheshtaduri is working on this issue. @devilkiller-ag

[2022-10-05 14:09] devilkiller-ag commented on #271
I can complete both if you don't mind.

[2022-10-05 14:09] Rajdip019 commented on #237
Yes let us discuss about it a bit. @RidhamRj

[2022-10-05 14:09] Rajdip019 commented on #212
This issue is solved so closing this issue.

[2022-10-05 14:09] #212 closed

[2022-10-05 14:10] devilkiller-ag commented on #271
If @kala2 agrees we can work on it together.

[2022-10-05 14:13] kala2 commented on #271
Don't mind. I can take another ticket! it's all yours :)

[2022-10-05 14:20] Rajdip019 commented on #271
Okay, assigning it to @devilkiller-ag . You can find some issue in the website or make any enhancement feel free to raise an issue @kala2

[2022-10-05 14:21] Rajdip019 commented on #187
Just wait we will get back to you after some discussion @Rajdip019

[2022-10-05 14:22] devilkiller-ag opened #281 "Fix Error in contributors.js"
There is an error in first-contribution/data/contributors.js file due to missing '{'. Can I rectify it?

[2022-10-05 14:23] recksoldier commented on #281
Assign it to me!

[2022-10-05 14:24] devilkiller-ag commented on #271
Thank You @Rajdip019

[2022-10-05 14:44] Rajdip019 commented on #281
No need to fix that I will fix that. Closing this issue. @devilkiller-ag

[2022-10-05 16:06] JASKIRAT11011 commented on #259
@Rajdip019 plzz assign to me

[2022-10-05 18:37] devilkiller-ag commented on #271
Hey, @Rajdip019 I am wondering why this issue is open till now. Is there any problem with my PR?

[2022-10-06 05:05] Rajdip019 commented on #271
No this issue is solved so closing it. @devilkiller-ag

[2022-10-06 05:05] #271 closed

[2022-10-06 05:06] Rajdip019 commented on #136
Hey, @codeswithroh is this issue completely solved? The. close this issue.

[2022-10-06 05:07] Rajdip019 commented on #219
This issue is solved so closing this PR.

[2022-10-06 05:07] #219 closed

[2022-10-06 05:08] Rajdip019 commented on #258
I guess this issue is solved so closing this issue.

[2022-10-06 05:08] #258 closed

[2022-10-06 05:08] Rajdip019 commented on #259
Hey @codeswithroh are you available or should I assign it to @JASKIRAT11011 ?

[2022-10-06 05:11] codeswithroh commented on #259
@Rajdip019 You can assign this to @JASKIRAT11011

[2022-10-06 05:13] codeswithroh commented on #258
Yup this is solved

[2022-10-06 05:14] Rajdip019 commented on #259
@JASKIRAT11011 go ahead you are assigned.

[2022-10-06 05:19] codeswithroh commented on #136
Yeah, this is solved. In DiscordHome.js the <img /> tag is still there. But since svg is being used so, the performance won't matter.

[2022-10-06 05:33] Rajdip019 opened #295 "The navbar in the all contribution page color problem"
The navbar somehow has a different color or looks like a different color.

Here is a reference to that ⬇️

<img width="1440" alt="Screenshot 2022-10-06 at 11 01 19 AM" src="https://user-images.githubusercontent.com/91758830/194222220-a53fbbde-6f89-45be-a83e-df99ad08b88b.png">

Need to fix it so it look consistent.

[2022-10-06 05:35] RishabhJain0721 commented on #295
# Hi
I want to work on this.Please assign this task to me.

[2022-10-06 05:36] Rajdip019 commented on #295
Sure go ahead @RishabhJain0721

[2022-10-06 05:41] RishabhJain0721 commented on #295
Sorry unable to fix it

[2022-10-06 05:46] aakash-22ak commented on #295
Hi
i want to work on this

[2022-10-06 05:46] manav-06 commented on #295
You can assign this to me @Rajdip019

[2022-10-06 05:51] devilkiller-ag opened #296 "Change Color of "Contribute Now" Button on hover"
Every button on the site changes to blue when we hover over it but the "Contribute Now" button doesn't. It changes to grey in light mode but there is no change in dark mode. Can I rectify it? Please specify any other color if not blue to which it should change.

[2022-10-06 05:53] vilasrhegde commented on #296
Hey @devilkiller-ag may I solve this one? I can make it very good looking

[2022-10-06 06:06] devilkiller-ag opened #297 "Add Socials to the footer"
The footer section of main [Clueless Site](https://www.clueless.tech/) and the [Clueless Community - First Contribution](https://clueless.vercel.app/) doesn't matches.

Main Clueless Site Footer:
![Screenshot (99)](https://user-images.githubusercontent.com/43639341/194226662-3ede2e33-84fd-466b-aaf4-dd54eba5047a.png)
Clueless Community - First Contribution Footer:
![Screenshot (100)](https://user-i

[2022-10-06 06:09] yash251 commented on #297
Please assign this to me. Would love to work on this

[2022-10-06 06:10] burhanharoon commented on #296
Hy, can you assign this to me? I think the contribute now button's color should be the same as the other button's color on hover. It will ensure consistency in the website and make everything look polished and good. The tailwind `bg-blue-500` would be perfect for this!

[2022-10-06 06:11] Rajdip019 commented on #297
Both are different website so this should be different. @devilkiller-ag

[2022-10-06 06:12] devilkiller-ag commented on #297
I was thinking about style and size.

[2022-10-06 06:14] JatinSingh08 commented on #296
Hey @devilkiller-ag, can please assign this issue to me ?

[2022-10-06 06:23] Rajdip019 commented on #297
What you can do here is add LinkedIn, GitHub as well as twitter Link in the socials section of the footer. That would be useful. @devilkiller-ag

[2022-10-06 06:23] Rajdip019 commented on #295
@aakash-22ak work on this.

[2022-10-06 06:25] Rajdip019 commented on #296
Hey @devilkiller-ag work on this and make sure to change the same for every button like that. So it will be consistent and also add a `transition-all` class for a little transition effect.

[2022-10-06 06:26] devilkiller-ag commented on #296
Thank you @Rajdip019

[2022-10-06 06:41] Rajdip019 commented on #297
Okay @devilkiller-ag

[2022-10-06 06:46] devilkiller-ag commented on #297
Thank you @Rajdip019

[2022-10-06 06:47] #272 closed

[2022-10-06 06:48] Rajdip019 commented on #296
This issue is solved so closing this issue. @devilkiller-ag

[2022-10-06 06:48] #296 closed

[2022-10-06 07:10] myGlitches opened #300 "Fixing the padding"
### This is Suryadipta . And I have a suggestion on the [ClueLess - First Contribution Website](https://clueless.vercel.app/).

Can be viewed via this link-

https://prnt.sc/vl_OrN7HvLe8

Can I fix the padding and too much middle space area taken to a more balanced design?

Can you please assign this to me?

![Screenshot (338)](https://user-images.githubusercontent.com/65249625/194238571-7d664a79-

[2022-10-06 08:01] Rajdip019 commented on #300
Go ahead @myGlitches . I have assigned you this!

[2022-10-06 08:24] myGlitches commented on #300
Thanks! Working on it!

[2022-10-06 09:03] myGlitches commented on #295
Hey is this issue closed? I can work on this , already fixed the other issues. @Rajdip019 @aakash-22ak

[2022-10-06 09:05] myGlitches commented on #245
Hey @saimaheshtaduri , is this issue fixed I can work on this with you if you want!
@Rajdip019 if possible let me know if I could help him with this issue

[2022-10-06 13:26] Rajdip019 commented on #300
It's solved now! Closing the PR.

[2022-10-06 13:26] #300 closed

[2022-10-06 13:31] Rajdip019 opened #305 "Add smooth scroll to the scroll down button in the home page."
We need to add smooth scroll in the scroll down button in the home page. This should be easy work I guess.

[2022-10-06 13:31] #297 closed

[2022-10-06 13:34] Rajdip019 opened #306 "Fix the social links in the footer"
The social links need to be fixed and should be shown vertically as the other links in the footer under socials section.

Now this looks like this ⬇️  This should be vertical like other links.
<img width="237" alt="Screenshot 2022-10-06 at 7 01 32 PM" src="https://user-images.githubusercontent.com/91758830/194326711-674a28a0-fabb-420c-887b-80e32f3f6bf8.png">

Need to fix this.

[2022-10-06 13:50] #245 closed

[2022-10-06 15:00] AdarshBajpai67 commented on #305
can i work on this issue?

[2022-10-06 15:26] #260 closed

[2022-10-06 16:50] Rajdip019 commented on #306
This issue is solved I guess. So closing this issue.

[2022-10-06 16:50] #306 closed

[2022-10-06 16:50] Rajdip019 commented on #305
This issue is resolved. so closing this issue.

[2022-10-06 16:50] #305 closed

[2022-10-06 16:54] Rajdip019 commented on #243
Hey @saimaheshtaduri assigning you this issue as the previous issue is nicely done by you @saimaheshtaduri

[2022-10-06 17:11] saimaheshtaduri commented on #243
Thanks @Rajdip019 😊

[2022-10-06 21:05] Rajdip019 opened #323 "Remove the repeating data"
One need to remove the repeating the data of `/data/contributors.js` as there are some contributor data which is repeated 2 - 3 times.

Like there is 3 **Ishika Ishani** in the list. But it should be only one.

And don't delete any of the contributor data.

[2022-10-06 21:07] Rajdip019 commented on #184
Is there any update @AbhishekTiwari23

[2022-10-06 21:07] Rajdip019 commented on #235
Is there any update @Gulshan-11 @RidhamRj ?

[2022-10-06 21:41] hfr58gb commented on #323
can you assign me?

[2022-10-06 21:54] ProtyayMnd50 commented on #323
Can you assign me this? I have committed changes to it for you to review.

[2022-10-06 22:35] hfr58gb commented on #323
Task done for required issue, check the [PR](https://github.com/Clueless-Community/first-contribution/pull/327)

[2022-10-07 03:17] SattyamSamania commented on #323
Hey @Rajdip019  can I work on this issue if it is still open?

[2022-10-07 03:23] prantikseal commented on #184
@Rajdip019 can you assign this to me?

[2022-10-07 05:19] Rajdip019 commented on #323
You are assigned @hfr58gb

[2022-10-07 05:21] Rajdip019 commented on #323
This issue is solved so closing the issue

[2022-10-07 05:21] #323 closed

[2022-10-07 05:30] Rajdip019 commented on #295
This issue is solved by @ishtails so closing this PR.

[2022-10-07 05:39] Rajdip019 opened #334 "Re-order contributors card"
We need 4 contributors card on top. They are mixed up now as a lot of people added their data in random places and not at the last.

<img width="1364" alt="Screenshot 2022-10-07 at 11 06 07 AM" src="https://user-images.githubusercontent.com/91758830/194475266-7ebf86db-eca2-4552-9277-2c9f57895556.png">

We need the four card in the top in this order.
1. Rajdeep Sengupta
2. Roshan Kumar
3. Nikhil Ra

[2022-10-07 06:04] s-vamshi commented on #334
Hey i would like to work on this issue. Can you assign it to me?

[2022-10-07 06:13] Rajdip019 commented on #334
Yes sure. @s-vamshi

[2022-10-07 06:44] s-vamshi commented on #334
@Rajdip019 Thanks for assigning i have made a PR can you please review?

[2022-10-07 07:37] Rajdip019 commented on #334
Very well done. This issue is resolved so closing this issue @s-vamshi

[2022-10-07 07:37] #334 closed

[2022-10-07 07:50] Gulshan-11 commented on #235
hey @Rajdip019
was little occupied with semester exams. But lemme tell you that I have started working on it and will make a pr by end of the day

[2022-10-07 08:25] Pratham-R opened #345 "Pratham Rastogi"
### This is Pratham Rastogi. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-07 08:40] Rajdip019 opened #347 "Add basic git commands page link in footer"
In the footer section under resources section add another link to this page.

`https://clueless.vercel.app/whattodo/basic-github-commands`.

You should use a Link tag here and the href will be `/whattodo/basic-github-commands"` .

Please add a screenshot after you make a PR.

[2022-10-07 08:41] Rajdip019 commented on #345
Where is your PR?

[2022-10-07 08:41] Rajdip019 commented on #235
Sure no need to hurry take your time @Gulshan-11

[2022-10-07 08:41] Subhajitongit commented on #347
Hey @Rajdip019 , can you assign this task to me?

[2022-10-07 08:43] Pratham-R commented on #345
Sorry i just contributed to contributor.js and not to contributor.md . I am fixing that and opening a Pull Request

[2022-10-07 08:43] Rajdip019 commented on #347
Sure go ahead

[2022-10-07 08:44] Rajdip019 commented on #347
Sure go ahead

[2022-10-07 08:44] Rajdip019 commented on #345
Okay sure make sure to take the latest pull from main @Pratham-R

[2022-10-07 08:45] Pratham-R commented on #345
Sure.

[2022-10-07 08:46] Rajdip019 opened #348 "Add new attribute to all the links of Social"
Add a `target="_blank"` attribute to all the social links in the Footer section. In this way the social links will open in a new tab.

[2022-10-07 09:02] Pratham-R commented on #345
PR #350

[2022-10-07 09:07] YashPimple commented on #348
@Rajdip019 can you assign it to me would like to work on it?

[2022-10-07 09:09] myGlitches commented on #348
Can I work on this @Rajdip019 Finished the previous one

[2022-10-07 09:23] Rajdip019 commented on #348
It's first come first serve. So go ahead and work on it. @YashPimple

[2022-10-07 09:24] Rajdip019 commented on #345
Your PR is merged I guess so closing this issue. @Pratham-R

[2022-10-07 09:24] #345 closed

[2022-10-07 09:27] Rajdip019 opened #352 "The navbar in the Basic GitHub Commands page color problem"
The navbar somehow has a different color or looks like a different color.

Here is a reference to that ⬇️

<img width="1440" alt="Screenshot 2022-10-06 at 11 01 19 AM" src="https://user-images.githubusercontent.com/91758830/194222220-a53fbbde-6f89-45be-a83e-df99ad08b88b.png">

Need to fix it so it look consistent.

[Link to the page](https://clueless.vercel.app/whattodo/basic-github-commands)

[2022-10-07 09:28] myGlitches commented on #352
Can I work on this then?
Assign it to me @Rajdip019 :D

[2022-10-07 09:28] Rajdip019 commented on #184
If there is no update from @AbhishekTiwari23 in next 24 hour I will assign this issue to you @prantikseal

[2022-10-07 09:29] Rajdip019 commented on #352
Sure go ahead @myGlitches

[2022-10-07 09:39] Volley-Freak opened #356 "Add Bottom To Top Button"
### Hii This is Hritik. I think there's should be a bottom to top button with up-arrow icon in your website.
I'll be grateful if you assign this task to me

[2022-10-07 09:48] Rajdip019 commented on #356
If I am not wrong it's already there. Please check once. @Volley-Freak

[2022-10-07 10:03] Volley-Freak commented on #356
Yes you're right. Actually i've seen [This Page](https://clueless.vercel.app/whattodo/basic-github-commands) and assume that it is missing in every page.

[2022-10-07 10:07] Rajdip019 commented on #356
You can add the Bottom to Top button in this page. Make sure to use the same button used in every page. @Volley-Freak

[2022-10-07 10:15] Akshay-21 opened #361 "Here can we add link of home page so visitor can redirect to there from this."
### This is Akshay. And I will be adding my data to do my first contribution as well as get a card on the website.

![image](https://user-images.githubusercontent.com/32409386/194530774-5d5d1254-3807-4274-a4eb-3e819a3e840c.png)

[2022-10-07 10:18] Subhajitongit commented on #347
### Here's the PR for the issue!
[https://github.com/Clueless-Community/first-contribution/pull/360](url)

[2022-10-07 10:19] Akshay-21 commented on #361
Hey Hi @Rajdip019, can we change like this.
i want to work on that, could you pls assign me this?

[2022-10-07 10:23] Ashpreetwadhwa commented on #352
@Rajdip019
I would love to work on this,
I can change its colour
Please assign me this task

[2022-10-07 10:35] mehraankush commented on #361
hey i can do that

[2022-10-07 10:41] Rajdip019 commented on #361
Sure @Akshay-21 go ahead!

[2022-10-07 10:41] Rajdip019 commented on #352
It's already assigned to @myGlitches

[2022-10-07 10:43] vaibhav-87 commented on #361
Hello! I just came here from your LinkedIn post and found that I can solve this issue. So will you assign it to me?

[2022-10-07 11:02] Akshay-21 commented on #361
Thank You !

[2022-10-07 12:06] s-vamshi opened #368 "Home pages(HeroDark & HeroLight) content gets hidden behind navbar"
HeroDark and HeroLight components aren't responsive. Depending on the device we open the website, the content gets hidden.

**It works well in desktop view with 1440 x 483 size.**
![c1](https://user-images.githubusercontent.com/62489114/194547488-270b974d-aeec-4761-b789-ed93f3e8b072.PNG)

**Here is the tablet view and we can see that content is hidden behind navbar.**
![c3](https://user-images.git

[2022-10-07 12:07] s-vamshi commented on #368
@Rajdip019 Can I work on this issue?

[2022-10-07 12:24] Volley-Freak commented on #356
I've made the changes. Have  a look please.

[2022-10-07 12:31] Rajdip019 commented on #368
Sure this is an important issue to solve. Go ahead @s-vamshi

[2022-10-07 12:38] Rajdip019 opened #371 "Page opens in a new tab"
The page for Basic GitHub commands open in a new tab. This should not happen.

<img width="594" alt="Screenshot 2022-10-07 at 6 07 10 PM" src="https://user-images.githubusercontent.com/91758830/194555384-b2911a5a-e0cc-41b2-b156-f616c9354dc1.png">

We need to use a `<Link>` tag for this.

[2022-10-07 14:12] RidhamRj commented on #235
hey @Gulshan-11 actually we need to make the buttons look better and animated not like the one in the video above so just lemme know if you have any idea suggestions or already made button UI

[2022-10-07 14:13] RidhamRj commented on #235
i myself will see to this now
earlier i was occupied with festivities

[2022-10-07 14:14] Rajdip019 commented on #368
This issue is solved I guess so closing this issue. @s-vamshi

[2022-10-07 14:14] #368 closed

[2022-10-07 14:14] Rajdip019 commented on #371
This issue is also solved. Closing this isue.

[2022-10-07 14:14] #371 closed

[2022-10-07 14:15] Rajdip019 commented on #356
This issue is solved so, closing this Issue. @Volley-Freak

[2022-10-07 14:15] #356 closed

[2022-10-07 14:15] Rajdip019 commented on #361
This is solved i guess so closing this issue. @Akshay-21

[2022-10-07 14:15] #361 closed

[2022-10-07 14:15] s-vamshi commented on #368
Yes, this issue has been solved

[2022-10-07 14:16] Rajdip019 commented on #235
Sure no problem @RidhamRj

[2022-10-07 14:16] Rajdip019 commented on #184
Sure no worries. @AbhishekTiwari23

[2022-10-07 14:24] RidhamRj commented on #235
@Rajdip019 hey someone has used material UI library
so u need to update people with how to run with material UI so tht he/she doesn't spend time running no. of imports searching from internet
![image](https://user-images.githubusercontent.com/86556438/194576671-fa5b3c01-5862-451c-99a6-85bf91bf6039.png)

[2022-10-07 14:27] Rajdip019 commented on #235
I guess it's chakra UI

[2022-10-07 14:30] Rajdip019 opened #388 "Need Proper spacing"
Need proper spacing in the home page as well as the glassmorphism effect it had before.

Now it looks like this.

<img width="1440" alt="Screenshot 2022-10-07 at 7 58 35 PM" src="https://user-images.githubusercontent.com/91758830/194577873-1cdf32c5-46ba-4298-a072-9d59de5e9164.png">

Need to fix that.

[2022-10-07 14:32] RidhamRj commented on #235
![image](https://user-images.githubusercontent.com/86556438/194578504-f70f0dd4-df63-41a1-90e2-52c0f9ac7b93.png)
now i am unable to load the dev page on my side

[2022-10-07 14:34] Rajdip019 opened #389 "Fix two links"
We now have two Basic GitHub Commands in the Footer.

<img width="233" alt="Screenshot 2022-10-07 at 8 02 23 PM" src="https://user-images.githubusercontent.com/91758830/194578709-6710f026-575c-44dc-bbec-f4a900f8f4e7.png">

We need the one with the `<Link>` tag and the animation from the `anchor` tag.

[2022-10-07 14:34] RidhamRj commented on #235
@Rajdip019 can you help me with this I am unfamiliar with this

[2022-10-07 14:36] RidhamRj commented on #389
@Rajdip019 i can work over this

[2022-10-07 14:37] Aman13-08 commented on #388
Please assign to me I will be working on at the earliest time. Thank you

[2022-10-07 14:41] RidhamRj opened #391 "Adding SetUp.md guiding react setup"
### This is RidhamSinghal. And I will be adding my data to do my first contribution as well as get a card on the website.

Adding SetUp.md guiding react setup
how to setup this project

[2022-10-07 14:41] RidhamRj commented on #391
@Rajdip019 kindly assign this to me

[2022-10-07 14:57] Gulshan-11 commented on #235
Hey @RidhamRj just use this command "npm i chakra-ui" and install those modules

[2022-10-07 14:57] FixxooXD commented on #389
@Rajdip019 can you explain it properly, you want to remove BASIC Github "commandsBasic"?

[2022-10-07 14:59] Gulshan-11 commented on #235
hey @RidhamRj i was working with some styling and fount that the theme was not matching with the website. So i have to look with new styling

[2022-10-07 15:01] RidhamRj commented on #389
someone already made a pr resolving this

[2022-10-07 15:03] AbirSantra commented on #388
Can I work on this?

[2022-10-07 15:14] AbirSantra opened #395 "Add a first contribution instruction page."
Hi, I would like to suggest adding a first contribution instruction page when the "Get Your Contributor Card!" button is clicked.

![image](https://user-images.githubusercontent.com/78201921/194586546-0fa4ebe1-cd9b-45f3-acfd-b04fcc92fe28.png)

Currently, the button routes to the GitHub repository page directly. I suggest adding an instructions page on the website itself with the exact instructions

[2022-10-07 15:24] Rajdip019 commented on #391
Sure.

[2022-10-07 15:32] Rajdip019 commented on #395
Sure I was also thinking about it. Refer to CONTRIBUTING.md for that. And go ahead build it. @AbirSantra

[2022-10-07 15:32] RidhamRj commented on #391
will add seperate setup.md file

[2022-10-07 15:32] Rajdip019 commented on #388
Work on this @Aman13-08 .

[2022-10-07 15:34] Rajdip019 commented on #391
You can add different setup.md but link that to the CONTRIBUTING.md. And use the existing 5 steps.  @RidhamRj

[2022-10-07 15:37] AbirSantra commented on #395
Sure thanks! I'll get started

[2022-10-07 15:37] Aman13-08 commented on #388
Thank you for your response . I Will be working on it

[2022-10-07 15:49] RidhamRj commented on #391
ohhhkkkkk

[2022-10-07 16:07] RidhamRj commented on #235
Gr8
can u update me with current ui
share a screenshot or the screen recording of the video
i might help it out
also if you make pr just tag this issue and me

[2022-10-07 17:47] sumitkr2000 opened #407 "Bug in footer"
Hey @Rajdip019 There is bug in navbar. I want to fix it and also want to align copyright in the center so that it will look better. Please assign me this issue. I have added a screenshot for the reference. Thank you.

![Screenshot (377)](https://user-images.githubusercontent.com/100675296/194618657-8c8dfb5a-288e-4080-92ee-8d73dccf3780.png)

[2022-10-07 18:13] JASKIRAT11011 commented on #407
hello @sumitkr2000 , can you please assign me this issue

[2022-10-07 18:13] HoneyTyagii commented on #407
hey @sumitkr2000  you can assign this issue to me I can work on it.

[2022-10-07 18:15] Rajdip019 commented on #407
Go ahead @sumitkr2000

[2022-10-07 18:16] Rajdip019 commented on #391
This issue is solved so closing this issue. @RidhamRj

[2022-10-07 18:17] Rajdip019 commented on #243
This issue is solved so closing this Issue.

[2022-10-07 18:17] #243 closed

[2022-10-07 18:19] #389 closed

[2022-10-07 18:29] myGlitches commented on #352
Hey this issue is solved , can you close this @Rajdip019

[2022-10-07 18:32] Rajdip019 commented on #352
Yeah sure. @myGlitches

[2022-10-07 18:32] #352 closed

[2022-10-07 18:34] sumitkr2000 commented on #407
@Rajdip019 Why is npm start not working? Can you please tell me the command to preview the webpage?

[2022-10-07 18:34] Rajdip019 opened #409 "Whitespace on Button sides acting like button."
It's getting redirected to `github` even when I CLICK anywhere beside the button. Need to fix that.

<img width="1338" alt="Screenshot 2022-10-07 at 11 50 59 PM" src="https://user-images.githubusercontent.com/91758830/194625961-d4902489-d274-47c7-869f-8c4d6bddc649.png">

[2022-10-07 18:35] Rajdip019 commented on #407
Please follow [setup.md](https://github.com/Clueless-Community/first-contribution/blob/main/SetUp.md) @sumitkr2000

[2022-10-07 18:37] Chaitanya-087 commented on #409
i would like to work on this issue

[2022-10-07 18:37] Rajdip019 opened #410 "Search as you type"
We need to implement search as you type in the search bar. There will be no need of the search button.

<img width="1367" alt="Screenshot 2022-10-07 at 11 51 25 PM" src="https://user-images.githubusercontent.com/91758830/194626478-e730dbcf-54df-457e-86b9-037ea1fe25cb.png">

[2022-10-07 18:37] Rajdip019 commented on #409
Go ahead work on it. @Chaitanya-087

[2022-10-07 18:39] Rajdip019 opened #411 "Style input field"
we need to style the input field for this input field. Try to use the consistent design. And make dark mode and light mode different.

<img width="1280" alt="Screenshot 2022-10-07 at 11 51 17 PM" src="https://user-images.githubusercontent.com/91758830/194626711-e303cbf0-24b0-4706-ac3f-9a7f41f1145e.png">

[2022-10-07 18:40] sumitkr2000 commented on #407
I did it using StackOverflow op!

[2022-10-07 18:40] Rajdip019 opened #412 "Style the button"
We need the search button to have a consistent design as the other buttons. We need to implement that.

<img width="137" alt="Screenshot 2022-10-07 at 11 51 09 PM" src="https://user-images.githubusercontent.com/91758830/194627024-d98e7f98-b377-4bce-8e5d-472f1cd7ab2e.png">

[2022-10-07 18:41] Rajdip019 commented on #407
Good keep working 🚀

[2022-10-07 18:42] sunidhisachan commented on #412
@Rajdip019 I want to try this , can you assign this to me?

[2022-10-07 18:44] Rajdip019 commented on #412
yes sure go ahead ! @sunidhisachan

[2022-10-07 18:45] vansh-2266 commented on #411
can you assign this to me @Rajdip019 ?

[2022-10-07 18:46] saimaheshtaduri commented on #410
I can work on that if you assign it to me. @Rajdip019

[2022-10-07 18:47] Rajdip019 commented on #411
Go ahead @vansh-2266

[2022-10-07 18:47] Rajdip019 commented on #410
Yup work on it. @saimaheshtaduri

[2022-10-07 18:49] saimaheshtaduri commented on #410
you want me to remove the button and place the search bar on the whole width ?

[2022-10-07 18:50] Rajdip019 commented on #410
Yes.

[2022-10-07 18:53] saimaheshtaduri commented on #410
You assigned me right to this issue ?

[2022-10-07 18:55] Rajdip019 commented on #410
You work on it. This pr will not be counted @saimaheshtaduri . And are you in our discord server if yes then what is your discord user name?

[2022-10-07 18:58] saimaheshtaduri commented on #410
Yes I am on your discord. user name:  vampire »#5783

[2022-10-07 18:59] sumitkr2000 commented on #407
Bro @Rajdip019 My changes are not reflecting in localhost. I tried clearing out the cache and running the page in incognito mode but nothing is happening. Please give me a solution.

[2022-10-07 19:35] Rajdip019 commented on #410
OKay got it.

[2022-10-07 19:50] saimaheshtaduri opened #421 "change the font style of github commands in commands page"
Now the github commands aren't readable. It would be better if the desc of the command and the command are distinguished.

[2022-10-07 19:57] shawshankkumar commented on #421
Hey @saimaheshtaduri I would like to work on this. Could you please assign this to me and tell me a little more so that I can work on this.

[2022-10-08 02:24] codernirdesh commented on #412
Hi @Rajdip019 I addressed this issue in my PR ( #430 ). Please have a look at it.

[2022-10-08 04:18] Swap-nil-2003 commented on #412
@Rajdip019 has this issue been resolved? If not then may I look into it?

[2022-10-08 04:24] Rajdip019 commented on #421
Hey @saimaheshtaduri you can work on this.

[2022-10-08 04:24] Rajdip019 commented on #412
This issue is resolved so closing the issue

[2022-10-08 04:24] #412 closed

[2022-10-08 04:25] Rajdip019 commented on #410
This issue is resolved so closing this issue.

[2022-10-08 04:25] #410 closed

[2022-10-08 04:51] Rajdip019 commented on #237
We are not thinking about a FAQ page so closing this issue for now.

[2022-10-08 04:51] #237 closed

[2022-10-08 04:51] Rajdip019 commented on #237
We are not thinking about a FAQ page so closing this issue for now.

[2022-10-08 04:51] Rajdip019 commented on #237
We are not thinking about a FAQ page so closing this issue for now.

[2022-10-08 04:52] Rajdip019 commented on #407
This issue is solved I guess. So closing this issue. @sumitkr2000

[2022-10-08 04:52] #407 closed

[2022-10-08 04:52] Rajdip019 commented on #348
This issue is solved so closing this issue. @myGlitches

[2022-10-08 04:52] #348 closed

[2022-10-08 04:53] Rajdip019 commented on #259
Hey @JASKIRAT11011 are you still working on it?

[2022-10-08 04:55] JASKIRAT11011 commented on #259
No bro ,i can work if u want

[2022-10-08 04:55] JASKIRAT11011 commented on #259
I thought its assigned to someone else

[2022-10-08 04:56] Rajdip019 commented on #259
You are assigned to it, you can work on it. @JASKIRAT11011

[2022-10-08 05:35] RidhamRj commented on #237
Ohhk

[2022-10-08 05:52] sumitkr2000 commented on #407
Yes, its solved now @Rajdip019

[2022-10-08 06:58] jyotika6221 commented on #421
Please assign me this issue.

[2022-10-08 06:58] jyotika6221 commented on #411
Please assign me this issue.

[2022-10-08 06:59] jyotika6221 commented on #409
Please assign me this issue.

[2022-10-08 07:50] s-vamshi opened #443 "Search for Card only searches for lower case letters in Card Name"
**I am going to search for raj so rajdeep card should be shown-**
![c7](https://user-images.githubusercontent.com/62489114/194696314-2b475289-ebfd-4ddb-a4d8-fff1e4e9bbf3.PNG)

**But this doesn't happen as shown in the below image only two cards are shown -**

![c9](https://user-images.githubusercontent.com/62489114/194696525-77fcd988-fe02-4a52-8f97-7b9dac167f95.PNG)

[2022-10-08 07:51] s-vamshi commented on #443
@Rajdip019 I would like to work on this issue, can you assign this to me?

[2022-10-08 08:25] Rajdip019 commented on #443
Make it case insensitive. @s-vamshi  Work o this.

[2022-10-08 08:31] #409 closed

[2022-10-08 08:49] s-vamshi commented on #443
#448 Here is my PR, can you review it?

[2022-10-08 09:32] Rajdip019 commented on #443
This issue is solved so closing this issue.

[2022-10-08 09:32] #443 closed

[2022-10-08 09:33] Rajdip019 commented on #347
Closing this issue as it is done.

[2022-10-08 09:33] #347 closed

[2022-10-08 09:43] myGlitches opened #454 "Footer Spacing needed under"
### This is Suryadipta , a little space under the "2022 Clueless" footer text is needed

![Footer Spacing](https://user-images.githubusercontent.com/65249625/194701154-f087c630-2b39-4b3b-ab31-b94ce6d69912.png)

[2022-10-08 09:43] myGlitches commented on #454
Assign this to me @Rajdip019 will work on it

[2022-10-08 09:44] Rajdip019 commented on #454
Work on this @myGlitches

[2022-10-08 09:45] myGlitches commented on #454
Thanks , on it!

[2022-10-08 10:04] myGlitches commented on #454
Hey @Rajdip019 this is done and sent a pull request

[2022-10-08 12:18] Pushkar03 opened #466 "Pushkar Singh"
### This is Pushkar Singh. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 12:20] Pushkar03 opened #467 "Adding the UI design of error 404 pages."
I can contribute by providing a UI design of error 404 pages in both Web and App mode.

[2022-10-08 12:24] SubxX opened #468 "Layout issue on "/allcontributors" page if there are no search results"
Noticed if there are no results in  "/allcontributors" page after searching it creates a lot of empty space ideally footer should stick to the bottom and we can show some kind of message like this

I would like to work on this.

![layout issue](https://user-images.githubusercontent.com/51792949/194707575-f00be45b-f3f3-45b6-ad01-2743addfdee5.PNG)

[2022-10-08 12:25] blyncnov commented on #468
can I work on this?

[2022-10-08 12:26] SubxX commented on #468
thanks for the quick feedback @blyncnov I want to work on this.

[2022-10-08 12:26] blyncnov commented on #467
Can i work on this issue ?

[2022-10-08 12:28] isaacmtp commented on #466
can you please assign this to me

[2022-10-08 12:29] keerthanasathya opened #469 "Keerthana"
### This is Keerthana. And I will be adding my data to do my first contribution as well as get a card on the website.

To make titles in the footer bolder and change colour.

[2022-10-08 12:35] blyncnov commented on #468
okay

[2022-10-08 12:48] DiyaVj opened #472 "Diya Vijay"
### This is Diya. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 13:13] Satakshijain commented on #466
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-08 13:19] Rajdip019 commented on #472
Ho ahead link the PR here. @DiyaVj

[2022-10-08 13:20] Rajdip019 commented on #468
Hey @SubxX go ahead and work on this. An svg will be fine. Saying that nothing found.

[2022-10-08 14:01] anjali-kundliya05 opened #477 "Anjali Kundliya"
### This is Anjali Kundliya. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 14:17] ShubhamShakyawal commented on #477
@anjali-kundliya05 Can you please elaborate on what I should do?

[2022-10-08 14:26] SubxX commented on #468
I have created a [PR](https://github.com/Clueless-Community/first-contribution/pull/479) for this task also I think you forgot to assign me to this task @Rajdip019

[2022-10-08 14:30] Atharv-110 opened #482 "Atharv Vani"
### This is Atharv Vani. And I will be adding my data to do my first contribution as well as get a card on the website.

### Please consider this under Hacktoberfest 2022 and please add the tags of it.

[2022-10-08 16:06] SubxX opened #487 "className must be used instead of class for applying classes"
This is a refactor-related task. There are a lot of places where `class` is being used instead of `className`.
I have already made those changes in a branch.
Happy to send a PR anytime.

![image](https://user-images.githubusercontent.com/51792949/194716702-2b5d8859-63ab-4108-a77a-053a5917574d.png)

[2022-10-08 16:12] Darainn commented on #487
@SubxX assign this to me

[2022-10-08 16:13] SubxX commented on #487
@Darainn sorry man Its already done waiting for confirmation so that I can create a PR.

[2022-10-08 16:57] Sushant-1999 opened #493 "Sushant Agawane"
### This is Sushant Agawane. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 16:58] Sushant-1999 commented on #493
Please accept the issue so that I can start contributions @titusjoyson

[2022-10-08 17:13] shaderone opened #496 "<Sharon>"
### This is <Sharon>. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 17:13] #496 closed

[2022-10-08 17:14] shaderone opened #497 "Sharon"
### This is Sharon. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 17:15] shaderone opened #498 "Feature req : Pagination on website"
Please add a pagination feature on https://clueless.vercel.app/allcontributors page

[2022-10-08 17:17] #498 closed

[2022-10-08 17:17] shaderone opened #500 "Please add a pagination feature on https://clueless.vercel.app/allcontributors page"
Please add a pagination feature on https://clueless.vercel.app/allcontributors page

[2022-10-08 17:17] masterchief164 opened #501 "Masterchief164"
### This is masterchief164. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 17:43] #497 closed

[2022-10-08 17:56] ranitasahaa1230 opened #503 "Ranita Saha"
### This is Ranita Saha. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 18:01] sayakongit opened #504 "<SAYAK SAHA>"
### This is <SAYAK SAHA>. And I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-08 18:10] Aman13-08 commented on #388
Hello rajdeep I am not working on it.

[2022-10-08 18:20] ranitasahaa1230 commented on #388
Please assign it to me if it's not yet been done @Rajdip019

[2022-10-08 18:35] ranitasahaa1230 opened #508 "Ranita Saha"
- For the search bar, it only works in the lowercase sensitive way, not in the uppercase sensitive way.
- If there are no matching results, "no search result found," a message would be displayed.

I would like to work on this.

[2022-10-08 18:39] sreekeshiyer commented on #500
Interesting. Please assign this issue to me. Will work on this.

[2022-10-08 19:59] its-ayush-07 opened #512 "feat: Add feature to search by college in 'allcontributors' page"
## Feature

![Screenshot (21)](https://user-images.githubusercontent.com/74665996/194725617-c3d7ab93-fcb9-4e28-92d6-733c0b0b641f.png)

I'd like to add the **Search by college** functionality

[2022-10-08 22:14] Rajdip019 commented on #512
Go ahead @its-ayush-07

[2022-10-08 22:15] Rajdip019 commented on #508
Some one is already working on this issue . So closing this issue. @ranitasahaa1230

[2022-10-08 22:15] #508 closed

[2022-10-08 22:15] Rajdip019 commented on #504
Go ahead.

[2022-10-08 22:15] #504 closed

[2022-10-08 22:15] Rajdip019 commented on #503
Go ahead.

[2022-10-08 22:15] #503 closed

[2022-10-08 22:15] Rajdip019 commented on #501
Go ahead.

[2022-10-08 22:15] #501 closed

[2022-10-08 22:16] Rajdip019 commented on #500
Do you wanna work o this issue? @shaderone

[2022-10-08 22:16] Rajdip019 commented on #493
Go ahead. @Sushant-1999

[2022-10-08 22:16] #493 closed

[2022-10-08 22:17] Rajdip019 commented on #487
Go ahead do this. @SubxX

[2022-10-08 22:17] Rajdip019 commented on #482
Go ahead. @Atharv-110

[2022-10-08 22:17] #482 closed

[2022-10-08 22:17] #472 closed

[2022-10-08 22:18] Rajdip019 commented on #477
Go ahead @anjali-kundliya05

[2022-10-08 22:18] #477 closed

[2022-10-08 22:18] Rajdip019 commented on #469
Go ahead.

[2022-10-08 22:18] #469 closed

[2022-10-08 22:18] Rajdip019 commented on #468
This issue is solved so closing this issue.

[2022-10-08 22:18] #468 closed

[2022-10-08 22:19] Rajdip019 commented on #467
Sure @Pushkar03 work on this.

[2022-10-08 22:19] Rajdip019 commented on #466
Go ahead

[2022-10-08 22:19] #466 closed

[2022-10-08 22:25] Rajdip019 commented on #421
This issue is solved so closing the issue.

[2022-10-08 22:25] #421 closed

[2022-10-08 22:26] Rajdip019 commented on #454
This issue is solved so closing this issue.

[2022-10-08 22:26] #454 closed

[2022-10-09 05:06] Shivaminc commented on #500
I want to work on this issue can you assign it to me, please?

[2022-10-09 06:13] Pushkar03 commented on #467
### **Adding Error 404 Pages UI design in both Dark & Light mode**

**_Dark Mode_**
![404-Space](https://user-images.githubusercontent.com/81770626/194740963-5ecbb2ca-6fc1-4eba-9890-4f791155f15c.png)

_**Light Mode**_
![404-Space(1)](https://user-images.githubusercontent.com/81770626/194740965-0bfc4d49-1c55-4549-ad02-d6bfe8d04541.png)

[2022-10-09 06:17] itsOmSarraf opened #520 "Wont it be better if the API fetches your Github profile picture by default?"

[2022-10-09 06:42] SubxX commented on #487
[PR](https://github.com/Clueless-Community/first-contribution/pull/521) created @Rajdip019

[2022-10-09 10:51] saimaheshtaduri opened #525 "add a copy code snippet button"
Add a button that lets user copy the snippet to the clipboard in the GitHub commands page.

[2022-10-09 14:02] Rajdip019 commented on #525
This is an awesome idea @saimaheshtaduri go ahead.

[2022-10-09 14:03] Rajdip019 commented on #520
We can do that but fetching the data of 200+ people together will ban the ip from github api. @itsOmSarraf

[2022-10-09 14:04] Rajdip019 commented on #487
This issue is solved so closing is issue.

[2022-10-09 14:04] #487 closed

[2022-10-09 14:05] Rajdip019 commented on #467
This looks really amazing. Add them @blyncnov

[2022-10-09 14:06] Pushkar03 commented on #467
Hey I have made them

[2022-10-09 14:07] Pushkar03 commented on #467
This is my contribution not the other's one

[2022-10-09 14:25] blyncnov commented on #467
@Rajdip019 What do you mean add them ?

[2022-10-09 14:52] myselfdeepdas opened #530 "This Repo is excluded from Hacktoberfest, please look into it !!"

[2022-10-09 16:45] Rajdip019 commented on #530
We have already announced that. @myselfdeepdas . We are constantly trying to talk to hacktoberfest team .You can still contribute to this repo and that counts for ClueLess swags in the leaderboard.

Closing this issue.

[2022-10-09 16:45] #530 closed

[2022-10-09 16:46] Rajdip019 commented on #525
This issue is solved so closing this issue. @saimaheshtaduri

[2022-10-09 16:46] #525 closed

[2022-10-09 19:15] saimaheshtaduri commented on #500
can I work on this if its still open ? @Rajdip019

[2022-10-09 19:18] Rajdip019 commented on #500
If you want to work. Go ahead @saimaheshtaduri

[2022-10-09 19:19] Rajdip019 commented on #467
This is solved so closing this isssue.

[2022-10-09 19:19] #467 closed

[2022-10-09 19:19] Rajdip019 commented on #411
This is solved so closing this issue. @vansh-2266

[2022-10-09 19:19] #411 closed

[2022-10-09 19:19] Rajdip019 commented on #395
This issue is solved, so closing this issue. @AbirSantra

[2022-10-09 19:19] #395 closed

[2022-10-09 19:21] saimaheshtaduri opened #534 "contributors cards redirect to respective profiles"
On clicking on the contributor card, I feel its better if its redirected to their profile page.

[2022-10-09 19:28] Rajdip019 commented on #534
Yes I also feel the same. Their profile should open in a new tab. And it should be their github profile. @saimaheshtaduri You can work on that.

[2022-10-09 19:35] saimaheshtaduri opened #535 "issue in search bar"

[2022-10-09 19:37] Rajdip019 commented on #535
I will assign you this once you complete one of the previous assigned issue. @saimaheshtaduri

[2022-10-09 19:54] saimaheshtaduri commented on #535
@Rajdip019 raised a pr #536 for previous task. please review it

[2022-10-10 07:08] shubhra-g opened #537 "Shubhra-G"
### This is Shubhra Gupta and I will be adding my data to do my first contribution as well as get a card on the website.

[2022-10-10 07:17] shubhra-g commented on #537
PR #538

[2022-10-10 07:42] Rajdip019 commented on #535
Yup good job you are assigned. @saimaheshtaduri

[2022-10-10 07:43] #537 closed

[2022-10-10 08:38] Ahnaf-codes opened #539 "This repo isnt accepted for hacktoberfest"
I fixed an issue but as you can see it was ***Excluded*** since this repo **doesnt follow the values of hacktoberfest**
![Screenshot 2022-10-10 at 14-32-53 Profile Hacktoberfest 2022](https://user-images.githubusercontent.com/102795582/194826431-a7f7ccfc-529e-4fc7-b636-52fa154ccb43.png)

![Screenshot 2022-10-10 at 14-32-16 Profile Hacktoberfest 2022](https://user-images.githubusercontent.com/10279

[2022-10-10 08:40] Ahnaf-codes commented on #512
#539

[2022-10-10 09:18] Rajdip019 commented on #539
We are extremely sorry to inform you that this repo is excluded from Hactoberfest 2022 😢

But the contribution you made will not go waste, it still counts in for swags by Clueless.

We are also trying to fix this issue getting in touch with hacktoberfest.

[2022-10-10 09:18] #539 closed

[2022-10-10 14:42] prantikseal commented on #184
is it done @Rajdip019

[2022-10-10 14:52] AbhishekTiwari23 commented on #184
I made a pr, but it has a conflict, and I forgot about that. I will give an update soon.

[2022-10-10 17:09] #535 closed

[2022-10-10 17:09] Rajdip019 commented on #534
This issue is solved so closing this. @saimaheshtaduri

[2022-10-10 17:09] #534 closed

[2022-10-10 17:10] saimaheshtaduri opened #542 "remove errors in contributors data"
remove all the duplicate data and filter the error data.

[2022-10-11 05:58] psantosh16 commented on #542
Hey ,
@Rajdip019
I want to make my first contribute. Need help ?

[2022-10-11 10:25] psantosh16 commented on #388
Hey ,
can you tell me can one contributor can work two times on same repo for Hacktoberfest ?
If , yes can you assign this issue to me @Rajdip019 .

[2022-10-13 04:07] Rajdip019 commented on #388
Go ahead. Work on it @psantosh16

[2022-10-14 21:36] devjain2309 opened #568 "Resource Page in Main website."
The resource page of the main website is opening on a different Tab.
It's not opening like the home page and event page.
That's because it's not very user friendly.

[2022-10-15 13:02] harshithakolipaka commented on #259
Hey, I understand this as such a small issue, i.e. changing h1 to h2 on each page or is there any bigger detail to this..
If this issue isn't solved yet , can I work it  ?

[2022-10-15 14:33] sahilsaini110 opened #569 "Need to improve Ui/UX of the home page."
### This is Sahil Saini. And I will be adding my data to do my first contribution and get a card on the website.
I would like to improve the home page by improving the UI/UX of the page.

[2022-10-15 17:56] jyotika6221 commented on #542
Please assign me this issue.

[2022-10-15 18:13] Adityageek commented on #568
Hi Team,
I wanted to work on this issue can you please assign me or before that you can confirm it is the real issue or this is expected behaviour from your side @Rajdip019 @RidhamRj @AKACHI-4

[2022-10-15 19:52] jyotika6221 opened #571 "Add CONTRIBUTING.md"

[2022-10-15 19:53] jyotika6221 commented on #571
Pls assign me this issue.

[2022-10-15 19:54] Rajdip019 commented on #571
We already have it. @jyotika6221

[2022-10-15 19:54] #571 closed

[2022-10-15 19:54] Rajdip019 commented on #569
Go ahead @sahilsaini110

[2022-10-15 19:55] #569 closed

[2022-10-15 19:55] Rajdip019 commented on #568
Work on this @devjain2309

[2022-10-15 20:11] jyotika6221 commented on #571
okay

[2022-10-18 17:15] Parthasaradhi99 commented on #184
Hi Rajdeep,Can I work on this issue I will complete it quick.

[2022-10-18 17:31] Parthasaradhi99 commented on #500
Hi,Rajdeep I want to work on this issue can I go ahead.

[2022-10-18 20:32] akashthedeveloper commented on #259
Hey, @Rajdip019 I would like to take up this issue can you please assign it to me? Also, a suggestion on the main page of the website there is a text called "Learn. Grow" it should be "Learn and Grow"
![clueless](https://user-images.githubusercontent.com/49565671/196537535-1b126b52-ec9f-45dd-bf20-c2a4fc9b69d4.PNG)

[2022-10-18 20:49] akashthedeveloper opened #584 "Removing title of team members and adding suitable title"
### Issue: The title of team members looks messy and therefore new titles should be added like CEO, Co-founder, Growth Lead, App Developer, etc. since if any wants to know more about people he/she can visit their GitHub or LinkedIn profile.

![title](https://user-images.githubusercontent.com/49565671/196540942-71e9b62a-c7f0-455e-bc6a-6aa4a79d0b9c.PNG)

### This is @akashthedeveloper. And I will be

[2022-10-18 20:50] akashthedeveloper commented on #584
Hey, @Rajdip019 can you please assign this issue to me?

[2022-10-18 20:59] Rajdip019 commented on #584
Go ahead @akashthedeveloper

[2022-10-18 21:15] akashthedeveloper commented on #584
Hey, @Rajdip019 I am finding it difficult to find out which files I have to edit can you help me out with that? Also is there any way to directly find out which files I have to edit?

[2022-10-18 22:46] Ash0069 commented on #584
Hi @Rajdip019 , please assign this to me

[2022-10-19 14:11] Rimjhim20 commented on #184
Hi @Rajdip019
I have changed the footer text with icons.. plz look and give me suggestions. Can raise PR for this?
![1](https://user-images.githubusercontent.com/71636845/196715513-22c90220-fd3c-408d-83a4-3af9cff9c022.png)

[2022-10-20 17:14] RidhamRj commented on #235
@Gulshan-11 any updates?